@import '../../../variable'

.gallery_bg
    background-repeat: $no_repeat
    background-position: 0 0
    width: $full_width
    background-size: contain
.miv_title
    text-align: $center $important
    font-size: 35px
    @extend %font_family_oswald
.miv_image_box
    border-radius: 32px
    overflow: hidden
    background: #e4e4e4
    height: 200px
    width: 200px
    box-shadow: 20px 20px $secondary

// @media only screen and (max-width: $beakpoint_desktop_m)
//     .gallery_bg
//         background-size: $full_width 52%

// @media only screen and (max-width: $beakpoint_desktop)
//     .gallery_bg
//         background-size: $full_width 48.8%

// @media only screen and (max-width: $beakpoint_laptop_l)
//     .gallery_bg
//         background-size: $full_width 46.1%

// @media only screen and (max-width: $beakpoint_laptop_m)
//     .gallery_bg
//         background-size: $full_width 42.6%  

// @media only screen and (max-width: $beakpoint_laptop_s)
//     .gallery_bg
//         background-size: $full_width 33.5%

// @media only screen and (max-width: $beakpoint_tablet_l)
//     .gallery_bg
//         background-size: $full_width 19.2%

// @media only screen and (max-width: $beakpoint_tablet_s)
//     .gallery_bg
//         background-size: $full_width 14.9%
