# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.20.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install @ant-design/icons --force
    - run: npm install react-custom-scrollbars --force
    #- run: npm install react-image-lightbox@5.1.1 --legacy-peer-deps
    #- run: npm install @syncfusion/ej2-base@19.1.63 --legacy-peer-deps
    #- run: npm install @syncfusion/ej2-react-calendars@19.1.63 --legacy-peer-deps
  
    - run: npm ci --legacy-peer-deps
    - run: CI=false npm run build --if-present
    - run: npm test

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: path/to/artifact/
      
    - name: Deploy to SharePoint Online
      env:
          SP_CLIENT_ID: ${{ secrets.SP_CLIENT_ID }}

          SP_CLIENT_SECRET: ${{ secrets.SP_CLIENT_SECRET }}

          SP_SITE_URL: ${{ secrets.SP_SITE_URL }}

          SP_LIBRARY_PATH: 'SiteAssets/Build'

      run: |

          npm install -g @pnp/cli-microsoft365

          #m365 login --tenant 8fa69c26-409d-43e5-973c-17a8be1a7f35 --authType password --userName $SP_CLIENT_ID --password $SP_CLIENT_SECRET

          m365 spo login $SP_SITE_URL  --tenant 8fa69c26-409d-43e5-973c-17a8be1a7f35 --authType password --userName $SP_CLIENT_ID --password $SP_CLIENT_SECRET

          m365 spo file add --path "path/to/artifact/" --libraryPath $SP_LIBRARY_PATH --force   
          #m365 spo file add --webUrl $SP_SITE_URL --folder 'Shared Documents' --path 'path/to/artifact/' 
